<article class="w-72 overflow-hidden">
    <h4 class="mb-[-5px] flex flex-row justify-stretch">
        <span class="bg-white text-yellow-400 border-t-2 border-l-2 border-r-2 border-black whitespace-nowrap py-1 px-2 font-bold text-2xl">{{ title }}</span>
        <div class="w-full border-black border-b-2 inline-block whitespace-nowrap"><span class="invisible">{{ title }}</span></div>
    </h4>
    <p class="bg-white p-2 min-h-[120px] mt-0 border-black border-l-2 border-b-2 border-r-2 overflow-hidden">{{ description }}</p>
</article>
