<form
    hx-post="{% url 'tasks_app:create-task' %}" hx-swap="outerHTML"
    class="
        flex flex-col
        rounded-lg
        px-5 py-5
        bg-gradient-to-br from-violet-700 to-violet-400 text-white
        w-full md:w-[50%] md:min-w-[600px] md:max-w-[900px] m-auto">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-col [&>input]:rounded-md [&>textarea]:rounded-md text-violet-700">
            {% comment %} {% if field.name == "tags" %} {% endcomment %}
                {% comment %} <button hx-on="click" hx-swap="innerHTML" hx-target="#new-tag-zone" hx-get="{% url 'tasks_app:create-tag' %}">Add new tag</button> {% endcomment %}
                {% comment %} <div id="new-tag-zone"></div> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
                <label for="{{ field.id_for_label }}" class="text-white font-medium text-xl">{{ field.label}}</label>
                {{ field }}
            {% comment %} {% endif %} {% endcomment %}
            {{ field.errors }}
        </div>
    {% endfor %}
    {{ form.non_field_errors }}
    {% comment %} {{ form.as_div}} {% endcomment %}
    <button type="submit"> New Task </button>
</form>
