<form
    hx-post="{% url 'tasks_app:create-task' %}" hx-swap="outerHTML"
    class="
        flex flex-col
        rounded-lg
        px-5 py-5
        bg-gradient-to-br from-violet-700 to-violet-400 text-white
        w-full md:w-[50%] md:min-w-[600px] md:max-w-[900px] m-auto">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-col [&>input]:rounded-md [&>textarea]:rounded-md text-violet-700">
            {% if field.name == "tags" %}
                <div hx-get="{% url 'tasks_app:create-tag-form' %}" hx-trigger="click" hx-swap="outerHTML">Hellooo</div>
                <div id="selected-tags-list"></div>
                <select id="id_tags" name="tags" multiple class="hidden"></select>
            {% else %}
                <label for="{{ field.id_for_label }}" class="text-white font-medium text-xl">{{ field.label}}</label>
                {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
    {% endfor %}
    {{ form.non_field_errors }}
    {% comment %} {{ form.as_div}} {% endcomment %}
    <button type="submit"> New Task </button>
</form>
